h1{
	background-color:#81D4FA;
}
#second{
	background-color: yellow;border:5px solid black;
}
.linkedin{
	background-color:#64B5F6;
}
.fb{
	background-color:#64B5F6;
}
.twitter{
	background-color:#64B5F6;
}
.github{
	background-color:#64B5F6;
}
.pinterest{
	background-color:#64B5F6;
}
.youtube{
	background-color:#64B5F6;
}
.gmail{
	background-color:#64B5F6;
}